@import '../../styles/constants.scss';

.dashboard {
  .list {
    color: $primary;
    border: 2px solid $primary;
    padding: 20px 10px 20px 20px;

    .todo-input {
      font-size: 18px;
    }
  }

  .new-task-container {
    margin-top: 40px;
  }
}
